<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\DoaneEdgeGate.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <!-- Set the real values here or at the App Pool level. -->
          <environmentVariable name="EdgeGate__Mode" value="Off" />
          <environmentVariable name="EdgeGate__Downstream__BaseUrl" value="https://colleague-webapi.internal.doane.edu" />
          <environmentVariable name="EdgeGate__Match__PathPatterns__0" value="/ColleagueApi/the-IE-person-create-path" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
